main {
  background-color: var(--main-bg-color);
  padding: 2rem 4rem;
  width: 50rem;
  margin: 0 auto;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  border-radius: 3rem;
}

.main-title {
  font-size: 3rem;
  font-family: 'Roboto Slab';
  font-weight: 450;
  text-align: center;
  width: 100%;
  padding: 0.25rem 0;
  border: solid 0.5rem var(--border-color);
  background-color: var(--base-color);
  border-radius: 2rem;
}

.section {
  background-color: var(--base-color);
  border: solid 0.4rem var(--border-color);
  border-radius: 1.25rem;
  width: 30rem;
  padding: 1rem 2rem;
}

.heading {
  font-size: 1.5rem;
  font-weight: 500;
  font-family: 'Roboto Slab';
}

.content {
  padding-left: 1.5rem;
}

.daily-hours {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  gap: 0.25rem;
}

.day {
  justify-self: end;
}